<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= "#{@user.name}'s videos" %>
</h1>
<div class="row">
  <div class="center hero-unit">
    <div class="userVideos" style="margin: 0 0 0 60px;">
        <% anid=@user.id %>
        <% Video.where(user_id: anid.to_s).each do |video|  %>
          <% if video.estado==1 %>
	    <div class="uv">
	      <div id="myElement<%= video._id %>">Loading the player...</div>
	      <script type="text/javascript">
		      jwplayer("myElement<%= video.id %>").setup({
			    file: "<%= video.path %>",
			    width: 320,
			    height: 240,
			    title: "<%= video.name %>"
			});
	      </script>
            
	      <table class="dateTag">
	      <tr>
	      <!--<td>Fecha de creaci&oacute;n:</td>
	      <td><%= video.created_at %></td>
	      </tr>
	      <tr>
	      <td>fecha de conversi&oacute;n:</td>
	      <td><%= video.updated_at %></td>-->
	      </tr>
	      </table>
	    </div>

         <% else %>
	  <div class="uv">
	  The video <i> <%=video.name%> is being processed. It will soon appear here.
	  </div>
	 <%end%>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
<!-- <li><a href="/video/upload">Upload Videos</a></li> -->
<!--<li><a href="/video/uploadForm">Upload Videos</a></li> -->
<div class="hero-unit">
        <%= form_tag( {:action => 'upload'}, :multipart => 'true') do  %>
        <%= label_tag 'name'%>
        <%= text_field_tag :name %>
        <%= label_tag 'File Path'%>
        <%= file_field_tag :datafile %>
        <%= hidden_field_tag :user_id, @user.id %>
        <br/>
        <%= submit_tag "Submit" %>
    <% end %>
</div>


</div>
