.<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= "#{@user.name}'s videos" %>
</h1>
<div class="row">
  <div class="center hero-unit">
    <div class="userVideos" style="margin: 0 0 0 60px;">
	<% Video.where(user_id: @user.id).each do |video|  %>
          <% if video.estado==1 %>
	    <div class="uv">
	      <div id="myElement<%= video.id %>">Loading the player...</div>
	      <script type="text/javascript">
		      jwplayer("myElement<%= video.id %>").setup({
			    file: "<%= video.path %>",
			    width: 320,
			    height: 240,
			    title: "<%= video.name %>"
			});
	      </script>
            
	      <table class="dateTag">
	      <tr>
	      <td>Fecha de creaci&oacute;n:</td>
	      <td><%= video.created_at %></td>
	      </tr>
	      <tr>
	      <td>fecha de conversi&oacute;n:</td>
	      <td><%= video.updated_at %></td>
	      </tr>
	      </table>
	    </div>

         <% else %>
	  <div class="uv">
	  The video <i> <%=video.name%> is being processed. It will soon appear here.
	  </div>
	 <%end%>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
   <div class="span6 offset3">
    <p>Upload more videos</p> 
    <% @video = Video.new %>
    <%= form_for( @video, :user_id => @user.id , :html => {:multipart => true}) do |f| %>
        <% if @video.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>
            <ul>
            <% @video.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
        <% end %>
	  <div class="form-group">
	      <%= f.label :name, "Name *" %>
	      <%= f.text_field :name, :maxlength=> 50, :class => "form-control", :required => true %>
	  </div>
	  <div class="form-group">
	      <%= f.label :video, "Video *" %>
	      <%= f.file_field :video %>
	  </div>
	  <div><%= f.hidden_field :user_id %></div>
	  <button type="submit" class="btn btn-default">Enviar</button>
       <% end %>
    </div>
</div>
